In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/KBO_DATA.csv")
df.shape

(77, 9)

In [7]:
df.head()

   SEASON    TEAM    AVG   OBP     SLG   ERA   FIP  WHIP  GRADE
0      21  LEAGUE  0.260  0.346  0.383  4.45  4.45  1.46    NaN
1      21     SSG  0.261  0.354  0.421  4.84  4.86  1.51    6.0
2      21  DOOSAN  0.268  0.350  0.390  4.26  4.27  1.48    2.0
3      21   LOTTE  0.278  0.356  0.399  5.38  4.75  1.57    8.0
4      21      NC  0.261  0.343  0.416  4.54  4.51  1.48    7.0

In [6]:
from collections import defaultdict
db = defaultdict(list)
n_db = defaultdict()
for item in df.itertuples():
    if item[2] == 'LEAGUE':
        db[item[1]] = [item[3],item[4],item[5],item[6],item[7],item[8]]
    else:
        print(item)
        break
print(db)

Pandas(Index=1, SEASON=21, TEAM='SSG', AVG=0.261, _4=0.354, SLG=0.421, ERA=4.84, FIP=4.86, WHIP=1.51, GRADE=6.0)
defaultdict(<class 'list'>, {21: [0.26, 0.346, 0.383, 4.45, 4.45, 1.46]})